* {
    padding: 0px;
    margin: 0px;
    font-family: 'Press Start 2P', cursive;

}
.anzeige {
    background-color: #5DBB63;
    display: flex;
    height: 100px;
    justify-content: center;
    padding: 4vw;
    align-items: center; //! perfect for vertical alignment
    .anzeigeText {
    font-size: 3vw;
    }
    
}

.eingabe {
    display: flex;
    height: 250px;
    padding: 10vw;
    text-align: center;
    opacity: 1;

    .spieler{
        text-align: left;
        margin: auto;

        .playerTitle {
            font-size: 2vw;
            padding-top: 1vw;
        }

        #spieler1{
            padding: 1vw;
        }
        #spieler2{
            padding: 1vw;
        }
        .startbutton {
            padding: 1vw;
            background-color: lightblue;
            margin-top: 1vw;
        }
    }
}
.hidden {
    opacity: 0;
    display: none;
}

.main {
    display: flex;
    justify-content: center;
    background-color: white;
}

.visibility {
    opacity: 0;
    display:none;
}

.spielfeld {
    display: grid;
    grid-template-columns: repeat(3, 120px);
   //grid-template-rows: repeat(3,70px);
    grid-gap: 5px;
    padding: 20px;
    

    .restart {
        background-color: lightblue;
        padding: 1vw;
    }
   
}

.box {
    height: 120px;
    line-height: 120px;
    background-color: lightblue;
    font-size: 2vw;
    text-align: center;
}
